<!DOCTYPE html>
<html>
<head>
  <title>RailsWikinimous</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="nav-bar">
     <div>
       <h3> <%= link_to 'Wikinimous', root_path %></h3>
        </div>
        <div>
       <h3> <%= link_to 'New article', new_article_path %></h3>
      </ul>
      </div>
    </div>

  <%= yield %>

</body>
</html>
